<html><head>
<title>安装完成</title>
<style>body{text-align:center}#installbox{background-color:white;border:1px solid #1B76B7;margin:0 auto;width:600px;text-align:left;margin-top:2em}.msgtitle{padding:3px 3px;color:white;font-weight:700;line-height:21px;height:25px;font-size:12px;border-bottom:1px solid #1B76B7; text-indent:3px; background-color:#1B76B7}#msgbody{font-size:12px;line-height:25px;height:260px;padding-top:2em;}#msgbottom{text-align:center;height:20px;line-height:20px;font-size:12px;background-color:#1b76b7;color:#FFFFFF}label{display:block;text-align:center;height:30px;line-height:30px}label:hover{background-color:#f5f5f5}h3{font-size:18px;font-family:"黑体";font-weight:300;border-bottom:1px solid #C4E1FF;padding:2px 0 2px 30px;color:#333}input{border-width:0;height:40px;width:90px;}textarea, input{padding:2px;border:1px solid;border-color:#666 #ccc #ccc #666;background:#F9F9F9;color:#333}
.btn{margin:3px 0;padding:2px 5px;*padding:4px 5px 1px;border-color:#ddd #666 #666 #ddd;background:#DDD;color:#000;cursor:pointer;vertical-align:middle}
</style>

</head>
<body>
<div id='installbox'><div class='msgtitle'>Ctcms安装完成</div>
<table style="width:598px;text-align:center;font-size:10pt;"><tr><td align="center"><span  style="display:block;float:left;background-color:#62C0FF;width:146px;color:#ffffff;border:solid 1px #ffffff;font-size:12px;"><font size="4"><b>1.</b></font>基本设置</span><span  style="display:block;float:left;background-color:#62C0FF;color:#ffffff;width:146px;border:solid 1px #ffffff;font-size:12px;"><font size="4"><b>2.</b></font>数据库设置</span><span style="display:block;float:left;background-color:#62C0FF;width:146px;color:#ffffff;width:146px;border:solid 1px #ffffff;font-size:12px;"><font size="4"><b>3.</b></font>管理员设置</span><span style="display:block;float:left;background-color:#62C0FF;width:146px;color:#ffffff;border:solid 1px #ffffff;font-size:12px;"><font size="4"><b>4.</b></font>安装完成</span></td></tr></table>
<div id='msgbody'>
<h3 style="color:red">抱歉！您已经安装过Ctcms！</h3>
<div style="text-align:center; font-size:16px;font-family:'黑体';color:#0000ff;">重新安装，请删除文件 ./caches/install.lock</div>
<div style="margin-top:2em;align:center;width:100%;">
<table width="60%" align=center>
   <tr>
     <td align=left><input type="button" class="btn" style=" width:120px;height:30px;" value="进入网站首页"  onClick="javascript:location.href='<?=Web_Path?>';"/></td>
     <td align=right><input type="button" class="btn" style=" width:120px;height:30px;" value="登陆网站后台"  onClick="javascript:location.href='<?=Web_Path?>admin.php';"/></td>
   </tr>
</table>
</div>
</div>
<div id='msgbottom'>Powered By Ctcms</div></div>
</body>
</html>