<footer class="am-margin-top">
  <hr/>
  <p class="am-text-center">
    <small>免责声明：影视均来源于互联网，视频版权属于原有版权商。<br/>本网站仅提供WEB页面服务，并不提供影片资源存储，也不参与录制、上传，如有侵犯您的权益，请发送相关证明文件及时与我们联系。<br />站长邮箱 <img src="{ctcms_indextemplets}/images/email.png"> ，我们将在第一时间删除相关搜索链接。</small>
  </p>
</footer>
<!-- #bar-wx -->
<div id="floatPanel">
	<div class="ctrolPanel">
		<a class="arrow" href="javascript:();"><span>顶部</span></a>
		<a class="qrcode" href="javascript:();"><span>微信二维码</span></a>
		<a class="arrow" href="javascript:();"><span>底部</span></a>
	</div>
	<div class="popPanel">
		<div class="popPanel-inner">
			<div class="qrcodePanel">
				<img src="{ctcms_indextemplets}/images/wx.jpg" />
				<span><br>{ctcms_name}微信公众平台</span>
			</div>
			<div class="arrowPanel">
				<div class="arrow01">
				</div>
				<div class="arrow02">
				</div>
			</div>
		</div>
	</div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://apps.bdimg.com/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{ctcms_indextemplets}/js/amazeui.js"></script>
<script src="{ctcms_indextemplets}/js/common.js"></script>
<!--<![endif]-->
<DIV style="DISPLAY: none">
{ctcms_stat}
</DIV>