<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{ctcms_title}</title>
    <meta name="keywords" content="{ctcms_keywords}" />
    <meta name="description" content="{ctcms_description}" />
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{ctcms_indextemplets}/css/amazeui.css">
    <link rel="stylesheet" href="{ctcms_indextemplets}/css/style.css">
</head>
<body>
{ctcms_head}
<div class="am-g am-g-fixed am-margin-top">
    <div class="am-u-sm-12 am-u-md-9">

<div data-am-widget="slider" class="am-slider am-slider-c3" data-am-slider='{"controlNav":false}'>
  <ul class="am-slides">
{ctcms:vod table="vod" field="id,name,pic2" where="zid=1" limit="5" order="zhits desc"}
    <li>
        <a target="_blank" href="[vod:link]">
        <img src="[vod:pic2]" alt="[vod:name],高清在线播放">
        <div class="am-slider-desc">
            <div class="am-slider-counter">
                <span class="am-active">[vod:i]</span>/5</div>[vod:name],高清在线播放
        </div>
        </a>
    </li>
{/ctcms:vod}
  </ul>
</div>

    </div>
    <div class="am-u-sm-12 am-u-md-3">
<ul class="am-list ">
{ctcms:vod table="vod" field="id,name" where="" limit="6" order="hits desc"}
<li><a href="[vod:link]">[vod:name]</a></li>
{/ctcms:vod}
</ul>
    </div>
</div>

<div class="am-g am-g-fixed am-padding-top">
    <div class="am-u-sm-12">
        ADS
    </div>
</div>

<div class="am-g am-g-fixed am-padding-top">
    <div class="am-u-sm-12">
    <h3>最近热播：
	<span style="float:right;padding:5px;"><a style="color:#333;" href="{ctcms_url whole=~~~~~~~~rhits}" target="_blank">更多</a></span></h3>
<!-- Gallery -->
<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-5 am-gallery-default am-thumbnails">
{ctcms:vod table="vod" field="id,name,pic,info,rhits" where="" limit="5" order="rhits desc"}
<li class="">
    <div class="am-gallery-item">
        <a href="[vod:link]">
            <div class="main_img">
			    <img alt="[vod:name]" style="height:250px;" src="[vod:pic]" />
				<div class="show"><em class="imgArea"><b>观看视频</b></em></div>
			</div>
			<div class="{if:'[vod:info]'=='超清'}bd{elseif:'[vod:info]'=='高清'}hd{else}ts{end if}">[vod:info]</div>
            <h3 class="am-gallery-title">[vod:name]</h3>
            <div class="am-gallery-desc">今日人气： <em>[vod:rhits]</em></div>
        </a>
    </div>
</li>
{/ctcms:vod}
</ul>
    </div>
</div>

{ctcms:class table="class" field="id,name" where="fid=0" limit="4" order="xid asc"}
<div class="am-g am-g-fixed am-padding-top">
    <div class="am-u-sm-12">
    <h3>最新[class:name]：
	<span style="float:right;padding:5px;"><a style="color:#333;" href="[class:link]" target="_blank">更多</a></span>
	</h3>
<!-- Gallery -->
<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-5 am-gallery-default am-thumbnails">
{ctcmstype:vod table="vod" field="id,name,pic,info,rhits,state" where="cid=[class:id]" limit="10" order="addtime desc"}
<li class="">
    <div class="am-gallery-item">
        <a href="[vod:link]">
            <div class="main_img">
			    <img alt="[vod:name]" style="height:250px;" src="[vod:pic]" />
				<div class="show"><em class="imgArea"><b>观看视频</b></em></div>
			</div>
			<div class="{if:'[vod:info]'=='超清'}bd{elseif:'[vod:info]'=='高清'}hd{else}ts{end if}">{if:[class:id]==2}[vod:state]{else}[vod:info]{end if}</div>
            <h3 class="am-gallery-title">[vod:name]</h3>
            <div class="am-gallery-desc">今日人气： <em>[vod:rhits]</em></div>
        </a>
    </div>
</li>
{/ctcmstype:vod}
</ul>
    </div>
</div>
{/ctcms:class}

{ctcms_bottom}
<script>$('#list_0').addClass('am-active');</script>
</body>
</html>