<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{ctcms_title}</title>
    <meta name="keywords" content="{ctcms_keywords}" />
    <meta name="description" content="{ctcms_description}" />
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{ctcms_indextemplets}/css/amazeui.css">
    <link rel="stylesheet" href="{ctcms_indextemplets}/css/style.css">
</head>
<body>
{ctcms_head}

<div class="am-g am-g-fixed">
    <div class="am-u-sm-12">
    <div class="article-main">
      <h3 class="am-article-title blog-title">
        <a href="#">[vod:name]</a>
      </h3>
      <h4 class="am-article-meta blog-meta">最后更新：[vod:addtime style=Y-m-d] 所属分类：<a href="[vod:classlink]">[vod:classname]</a> 播放次数：[vod:hits]
	  <a class="am-fr am-text-right fav" href="javascript:;" onclick="fav('{ctcms_url user=ajax/fav/[vod:id]}');" title="收藏视频"></a>
	  </h4>
  
    <div class="am-g">
        <div class="am-u-sm-4">
            <img class="am-thumbnail" alt="[vod:name]" src="[vod:pic]" style="width:292px;height:389px;">
        </div>
        <div class="am-u-sm-8">
<table class="am-table am-table-bordered" style="font-size:14px;">
<tbody>
<tr>
<td class="span2" style="width:86px;"><span class="x-m-label">导演</span></td>
<td>[vod:daoyan url=search]</td>
</tr>
<tr>
<td class="span2"><span class="x-m-label">主演</span></td>
<td>[vod:zhuyan url=search]</td>
</tr>
<tr>
<td class="span2"><span class="x-m-label">类型</span></td>
<td>[vod:type url=whole]</td>
</tr>
<tr>
<td class="span2"><span class="x-m-label">语言</span></td>
<td>[vod:yuyan url=whole]</td>
</tr>
<tr>
<td class="span2"><span class="x-m-label">地区</span></td>
<td>[vod:diqu url=whole]</td>
</tr>
<tr>
<td class="span2"><span class="x-m-label">上映时间</span></td>
<td>[vod:year url=whole]</td></tr>
<tr>
<td class="span2"><span class="x-m-label">清晰度</span></td>
<td>[vod:info url=whole]</td>
</tr>
<tr>
<td class="span2"><span class="x-m-label">状态</span></td>
<td>[vod:state url=whole]</td>
</tr>
<tr>
<td class="span2"><span class="x-m-label">视频分享</span></td>
<td><div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more" style="display:none;"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_kaixin001" data-cmd="kaixin001" title="分享到开心网"></a><a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a><a href="#" class="bds_tsohu" data-cmd="tsohu" title="分享到搜狐微博"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_ty" data-cmd="ty" title="分享到天涯社区"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div></td>
</tr>
</tbody>
</table>
        </div>
        <!-- end 8 -->


<div class="am-u-sm-12">
        ADS
</div>


<div class="am-u-sm-12 play" style="margin-bottom:25px;">
{ctcms_zu}
<div class="url">
   {name}
   <hr class="am-article-divider" style="margin-top:5px;margin-bottom:15px;"/>
   {ctcms_ji}
     <a class="am-btn-success" href="{link}">{name}</a>
   {/ctcms_ji}
</div>
{/ctcms_zu}
</div>

<div class="am-u-sm-12">

<p>视频介绍：</p>
    [vod:text]
</div>

    </div>
    </div>
    <!-- end article -->
    </div>
    <!-- end 12 -->
    <div class="am-u-sm-12">
        <p>视频评论：</p>
        {ctcms_pl}
    </div>
</div>


<hr class="am-article-divider"/>
{ctcms_bottom}
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"[vod:name]-在线观看","bdMini":"2","bdMiniList":false,"bdPic":"[vod:pic]","bdStyle":"1","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin","kaixin001","tqf","tsohu","douban","tieba","ty","sqq"],"viewText":"分享到：","viewSize":"16"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>