<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{ctcms_title}</title>
    <meta name="keywords" content="{ctcms_keywords}" />
    <meta name="description" content="{ctcms_description}" />
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{ctcms_indextemplets}/css/amazeui.css">
    <link rel="stylesheet" href="{ctcms_indextemplets}/css/style.css">
</head>
<body>
{ctcms_head}
<div class="am-g am-g-fixed am-padding-top">
    <div class="am-u-sm-12">
        ADS
    </div>
</div>

<div class="am-g am-g-fixed am-padding-top">
    <div class="am-u-sm-12">
	<!---- 分类---->
	<div class="tag-box">
    <table class="table">
        <tbody>
        <tr>
            <td class="tag-span">
                <strong>分类：</strong>
            </td>
            <td>
		        <a href="[whole:url cid=0]" class="movietype{if:'{ctcms_cid}'=='0'} on{end if}">全部</a>
                {ctcms:class table="class" field="id,name" where="" order="xid asc"}<a href="[whole:url cid=[class:id]]" class="movietype{if:'{ctcms_cid}'=='[class:id]'} on{end if}">[class:name]</a>{/ctcms:class}
            </td>
        </tr>
        <tr>
            <td class="tag-span">
                <strong>类型：</strong>
            </td>
            <td>
		        <a href="[whole:url type=]" class="movietype{if:'{ctcms_type}'==''} on{end if}">全部</a>
                {ctcms:type}<a href="[type:link]" class="movietype{if:'{ctcms_type}'=='[type:name]'} on{end if}">[type:name]</a>{/ctcms:type}
            </td>
        </tr>
        </tbody>
    </table>
	<div id="xuan" class="hide">
    <table class="table">
        <tbody>
        <tr>
            <td class="tag-span">
                <strong>地区：</strong>
            </td>
            <td>
		        <a href="[whole:url diqu=]" class="movietype{if:'{ctcms_diqu}'==''} on{end if}">全部</a>
                {ctcms:diqu}<a href="[diqu:link]" class="movietype{if:'{ctcms_diqu}'=='[diqu:name]'} on{end if}">[diqu:name]</a>{/ctcms:diqu}
            </td>
        </tr>
        <tr>
            <td class="tag-span">
                <strong>年份：</strong>
            </td>
            <td>
		        <a href="[whole:url year=]" class="movietype{if:'{ctcms_year}'==''} on{end if}">全部</a>
                {ctcms:year}<a href="[year:link]" class="movietype{if:'{ctcms_year}'=='[year:name]'} on{end if}">[year:name]</a>{/ctcms:year}
            </td>
        </tr>
        <tr>
            <td class="tag-span">
                <strong>清晰：</strong>
            </td>
            <td>
		        <a href="[whole:url info=]" class="movietype{if:'{ctcms_info}'==''} on{end if}">全部</a>
		        <a href="[whole:url info=超清]" class="movietype{if:'{ctcms_info}'=='超清'} on{end if}">超清</a>
		        <a href="[whole:url info=高清]" class="movietype{if:'{ctcms_info}'=='高清'} on{end if}">高清</a>
		        <a href="[whole:url info=标清]" class="movietype{if:'{ctcms_info}'=='标清'} on{end if}">标清</a>
		        <a href="[whole:url info=抢先版]" class="movietype{if:'{ctcms_info}'=='抢先版'} on{end if}">抢先版</a>
            </td>
        </tr>
        <tr>
            <td class="tag-span">
                <strong>状态：</strong>
            </td>
            <td>
		        <a href="[whole:url state=]" class="movietype{if:'{ctcms_state}'==''} on{end if}">全部</a>
		        <a href="[whole:url state=全集]" class="movietype{if:'{ctcms_state}'=='全集'} on{end if}">全集</a>
		        <a href="[whole:url state=更新]" class="movietype{if:'{ctcms_state}'=='更新'} on{end if}">更新中</a>
		        <a href="[whole:url state=预告]" class="movietype{if:'{ctcms_state}'=='预告'} on{end if}">预告</a>
		        <a href="[whole:url state=其他]" class="movietype{if:'{ctcms_state}'=='其他'} on{end if}">其他</a>
            </td>
        </tr>
        <tr>
            <td class="tag-span">
                <strong>付费：</strong>
            </td>
            <td>
		        <a href="[whole:url buy=0]" class="movietype{if:'{ctcms_buy}'=='0'} on{end if}">全部</a>
		        <a href="[whole:url buy=1]" class="movietype{if:'{ctcms_buy}'=='1'} on{end if}">免费</a>
		        <a href="[whole:url buy=2]" class="movietype{if:'{ctcms_buy}'=='2'} on{end if}">收费</a>
		        <a href="[whole:url buy=3]" class="movietype{if:'{ctcms_buy}'=='3'} on{end if}">点播</a>
		        <a href="[whole:url buy=4]" class="movietype{if:'{ctcms_buy}'=='4'} on{end if}">包月</a>
            </td>
        </tr>
        <tr>
            <td class="tag-span">      
                <strong>排序：</strong>
            </td>
            <td>
		        <a href="[whole:url sort=id]" class="movietype{if:'{ctcms_sort}'=='' || '{ctcms_sort}'=='id' || '{ctcms_sort}'=='addtime'} on{end if}">最新</a>
		        <a href="[whole:url sort=hits]" class="movietype{if:'{ctcms_sort}'=='hits'} on{end if}">最热</a>
            </td>
        </tr>
        </tbody>
    </table>
	</div>
	<div id="xiala" sid="0" class="xiala">展开选项<b></b></div>
    </div>
	<!---- //分类---->
<!-- Gallery -->
<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-5 am-gallery-default am-thumbnails">
{ctcms:vod table="vod" field="id,name,pic,info,type,year,addtime" page="40" order="addtime desc"}
<li>
    <div class="am-gallery-item">
        <a href="[vod:link]">
            <div class="main_img">
			    <img alt="[vod:name]" style="height:250px;" src="[vod:pic]" />
				<div class="show"><em class="imgArea"><b>观看视频</b></em></div>
			</div>
			<div class="{if:'[vod:info]'=='超清'}bd{elseif:'[vod:info]'=='高清'}hd{else}ts{end if}">[vod:info url=whole]</div>
            <h3 class="am-gallery-title">[vod:name]</h3>
            <div class="am-gallery-desc">[vod:addtime style=Y-m-d] / <em>[vod:year url=whole]</em></div>
        </a>
        <div class="am-gallery-desc">类型：[vod:type url=whole]</div>
    </div>
</li>
{/ctcms:vod}
</ul>
    </div>
</div>

<div class="am-u-sm-12"{if:{ctcms_pagejs}<2} style="display:none;"{end if}>
      <ul class="am-pagination am-pagination-centered">
	  <li class="pre"{if:{ctcms_page}<2} style="display:none;"{end if}><a href="{ctcms_pageup}"><<</a></li>
	  {ctcms_pagenum_8}
	  <li class="pre"{if:{ctcms_page}>={ctcms_pagenum}} style="display:none;"{end if}><a href="{ctcms_pagedown}">>></a>
	  </ul></div>
</div>
{ctcms_bottom}
</body>
</html>