<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="Keywords" content="{ctcms_keywords}" />
<meta name="Description" content="{ctcms_description}" />
<meta name="format-detection" content="telephone=no" />
<title>意见留言 - {ctcms_title}</title>
<link rel="stylesheet" href="{ctcms_templets}/images/style.css" />
<script language="javascript" src="{ctcms_templets}/js/jquery.js"></script>
<script language="javascript" src="{ctcms_templets}/js/common.js"></script>
<script language="javascript" src="{ctcms_templets}/js/history.js"></script>
</head>
<body class="channel">
{ctcms_head}
<section class="box box2">
			<div class="title"><b></b><h2>在线交流</h2></div>
			<ul>
            <div id="SOHUCS" sid="gbook"></div>
			<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" 	src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cyrMqD2qz&conf=aaaa"></script>
			</ul>
</section> 	
{ctcms_bottom}
</body>
</html>
